
# Node.js
node_modules/
npm-debug.log*
.env

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Directory for compiled output
dist/
build/

# Optional: VS Code
.vscode/

# Optional: macOS
.DS_Store

